 /* changed background color  */
body {
    background-color: rgb(220, 231, 231);
}

/* adjusted bottom margin for these elements */
#button, form, nav {
    margin-bottom: 55px;
}
/* set the h1 to align to center */
h1 {
    text-align: center;
}
/* changed background color  */
#contact {
    background-color: rgb(241, 229, 203);
}

/* Changed the color of the BT link in footer  */
#btTag {
    color: white;
}
/* added hover to BT link in footer */
#btTag:hover {
    color: yellow;
}

