body {
    background-color: lightgray;
}

main {
    margin-top: 40px;
    padding-top: 30px;
    background-color: wheat;
}
p {
    font-size:24px;
}
img {
    width: 550px;
    height: 600px;
    margin-right:10px;
    padding-right: 10;
}

@media screen and (max-width:992px){
    .bg-purple, #footer{
        background-color: violet !important;
    }
    #main{
        color:violet;
    }
}

@media screen and (max-width:700px){
    .bg-purple, #footer{
        background-color: rgb(226, 21, 38) !important;
    }
    #main{
        color:rgb(226, 21, 38);
    }
}